<div class="baner">
	<div class="container">
		<div class="inner">
			<div class="h2 center">
				Наша миссия в раскрытии потенциала финансовых рынков и обеспечении равного доступа 
к брокерским услугам
			</div>
			<div class="row">
				<div class="col l9">
					<div class="row">
						<div class="col l4 center">
							<div class="image valign-wrapper">
							<span class="center-align">
								<img src="img/licenzia.png"  alt="">
							</span>
							</div>
							<span>
								Лицензированный брокер
							</span>
						</div>
						<div class="col l4 center">
							<div class="image valign-wrapper">
							<span class="center-align">
								<img src="img/pars.png"  alt="">
							</span>
							</div>
							<span>
								60 валютных пар
для торговли
							</span>
						</div>
						<div class="col l4 center">
							<div class="image valign-wrapper">
							<span class="center-align">
								<img src="img/quick.png"  alt="">
							</span>
							</div>
							<span>
								Быстрое зачисление
и гибкий вывод
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="button center">
				<a href="">Открыть торговый счет</a>
			</div>
		</div>
	</div>
</div>