<div class="categories">
	<div class="container">
		<div class="row">
			<div class="col l3">
				<a href="" class="box">
					<div class="content">
						<i class="icon-binar"></i>
						<div class="text">
							<div class="name">Бинарные опционы</div>
							<p>Самый быстрый способ 
торговли на Forex</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3">
				<a href="" class="box">
					<div class="content">
					<i class="icon-calendar"></i>
						<div class="text">
							<div class="name">Экономический календарь</div>
							<p>Узнавайте все первым</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3">
				<a href="" class="box">
					<div class="content">
						<i class="icon-corona"></i>
						<div class="text">
							<div class="name">VIP-клиентам</div>
							<p>Особым людям особые условия торговли</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col l3">
				<a href="" class="box">
					<div class="content">
						<i class="icon-termin"></i>
						<div class="text">
							<div class="name">WebTrader</div>
							<p>Удобный терминал для торговли онлайн</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>