<div class="experts">
	<div class="container">
		<div class="row">
			<div class="col l6">
				<div class="name">Мы эксперты на финансовом рынке</div>
				<p>Работаем на рынке с 2004 года и делает все, чтобы сломать стереотипы 
о форекс и доказать: с надежным брокером стать полноправным участником валютного рынка и извлекать прибыль из колебания цен на финансовые инструменты может любой человек.</p>
<p>
	Нам удалось собрать профессиональную команду, накопить уникальный практический опыт работы с различными группами клиентов
</p>
			</div>
			<div class="col l6">
					<div class="col l4">
					<div class="numb">12 лет</div>
					<span>мы помогаем 
зарабатывать</span>
					</div>
					<div class="col l4">
					<div class="numb">0</div>
					<span>минимальный <br>
спред</span>
					</div>
					<div class="col l4">
					<div class="numb">34 526</div>
					<span>торговых cчетов
открыто</span>
					</div>
					<div class="col l4">
					<div class="numb">1:500</div>
					<span>максимальное
кредитное плечо</span>
					</div>
					<div class="col l4">
					<div class="numb">10$</div>
					<span>минимальный<br>
депозит</span>
					</div>
					<div class="col l4">
					<div class="numb">26%</div>
					<span>средняя прибыль<br>
на счете</span>
					</div>
			</div>
		</div>
	</div>
</div>