<nav class="top__box">
	<div class="nav-wrapper container">
		<div class="phone left">
			<span>8 800 495-28-30</span>
		</div>
	</div>
</nav>
<header class="header">
	<div class="container">
		<div class="logo left">
			<a href="#" class="valign-wrapper">
				<img src="img/logo.png" class="valign" alt="">
			</a>
		</div>
		<nav>
			<ul class="right">
					<li><a href="">Клиентам</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Аналитика</a></li>
					<li><a href="">Партнерам</a></li>
					<li><a href="">Контакты</a></li>                                       
				</ul>
		</nav>
				
	</div>
</header>