<div class="news">
	<div class="container">
		<div class="row">
			<div class="col l6">
				<div class="row">
					<div class="slider">
						<ul class="slides">
							<li>
							<img src="img/slide1.png" alt="">
							<div class="caption left-align">
          <h3>25$</h3>
          <h5 class="light grey-text text-lighten-3">Гарантированный денежный бонус 
при регистрации</h5>
        </div>
						</li>
						<li>
							<img src="img/slide1.png" alt="">
							<div class="caption left-align">
          <h3>25$</h3>
          <h5 class="light grey-text text-lighten-3">Гарантированный денежный бонус 
при регистрации</h5>
        </div>
						</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="news__list">
					<div class="heading">
						Новости
						<a href="" class="right">все новости</a>
					</div>
					<div class="list">
						<div class="row">
							<div class="col l12">
								<div class="date">27 марта 2016</div>
								<div class="name">
									<a href="">Акция Новогодний бонус 201,6%</a>
								</div>
								<div class="preview">
									<p>Обращаем Ваше внимание на изменении расписания торгов на CFD инструменты 24-28 марта 2016 года в связи с празднованием в США</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col l12">
								<div class="date">27 марта 2016</div>
								<div class="name">
									<a href="">Акция Новогодний бонус 201,6%</a>
								</div>
								<div class="preview">
									<p>Обращаем Ваше внимание на изменении расписания торгов на CFD инструменты 24-28 марта 2016 года в связи с празднованием в США</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>