<div class="webtrader">
	<div class="container">
		<div class="row">
			<div class="col l5">
				<div class="h2">Торгуйте через Webtrader</div>
				<p>Из любой точки земли, в любом браузере
совершайте торговые операции</p>
				<div class="buttons">
					<a href="" class="btn white">Открыть счет</a>
					<a href="" class="btn transparent">Демо</a>
				</div>
			</div>
			<div class="col l7">
				<div class="col l8">
					<img src="img/bar.png" alt="">
				</div>
				<div class="col l4">
					<p>Форекс и Бинарные опционы</p>
					<p>В любом браузере</p>
				</div>
			</div>
		</div>
	</div>
</div>